@use "variables" as *;

// mixins to take care of repeated patterns.
@mixin h3-style {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  font-size: 1.5rem;
  text-align: center;
  border-radius: 1.5rem;
  width: 85%;
  color: $color-headlines;
  margin: 1rem auto;
  padding: 1rem;
}

@mixin a-style-body {
  background-color: black; 
  color: $color-headlines;
  padding: 5px;

  &:hover {
    color: $color-a;
  }
}

@mixin content-style {
  margin: 1rem auto;
  padding: 1.5rem;
  border-radius: 1.5rem;
  width: 95%;
}


@mixin p-style {
  line-height: 1.5rem;
}

@mixin grid-designs {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  gap: 2rem;
  width: 95%;
  margin: 1rem auto;
  align-items: center;
}

@mixin grid-two-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
}

@mixin a-style-archive {
    background-color: $color-headlines;
    border-radius: 1.5rem;
    color: $color-text-light;
    padding: .5rem;
    cursor: pointer;
    font-size: .8rem;
    font-weight: bold;
    

  &:hover {
    color: $color-headlines;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/zen-garden-projectg2/assets/Clone-Trooper-wallpapers-HD-for-desktop-backgrounds.jpg');
    object-fit: fill;
    
  }
}

@mixin footer-a {
  background-color: rgb(0, 0, 0, 0);
  font-style: italic;

  &:hover {
    color: $color-text;
}
}


@mixin size-svg {
  padding: 3rem;
  display: block;
  margin: 1rem;
}

@mixin design-names {
  font-size: 1.5rem;
  color: $color-text;
  text-align: center;
  background-color: $background-color;
}

@mixin designer-name-style {
  font-style: italic;
}

@mixin medium-view {
  @media only screen and (min-width: $medium) {
      @content
  }
}

@mixin large-view {
  @media only screen and (min-width: $large) {
      @content
  }
}