@use "variables" as *;
@use "atoms" as *;
@use "organisms" as *;

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)


h3 {
  @include h3-style;
}

p {
  @include p-style;
}

a {
  @include a-style-body;
}

[role=contentinfo] {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(/zen-garden-projectg2/assets/hyper-space.jpg) no-repeat center;
  width: 85%;
  height: auto;
  padding: 1rem;
  border-radius: 1.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 1rem auto;
  text-align: right
}

[role=navigation] {
  margin: 1rem auto;
  width: 95%;
}

.designer-name {
  @include designer-name-style;
}

.design-archives {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/zen-garden-projectg2/assets/archive-foto.jpg');
  background-repeat: no-repeat;
  object-fit: scale-down;
  object-position: top;
  border-radius: 1.5rem;
  height: auto;
  padding-bottom: 1rem;
  margin: 2rem auto;

  @include grid-two-col;
}

.design-selection ul {
  @include grid-designs;
  margin: 1rem auto;
  
  .design-name{
    @include design-names;
    &:hover {
      color: $color-headlines;
    }
  }
  
}

.preamble {
  background-color: $background-content;
  text-align: center;
  @include content-style;
}

#zen-supporting {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/zen-garden-projectg2/assets/stars.jpg');
  @include content-style;
}

.zen-resources ul {
  @include grid-designs;

  a {
    background-color: inherit;
  }

  li:nth-child(5) {
    grid-column: 1/3;
  }
}

.design-selection li:nth-child(1)::after {
  content: "";
  background: url(/zen-garden-projectg2/assets/icons8-mando.svg) no-repeat center;
  transform: scale(.9);
  
  & {
    @include size-svg;
  }
}

.design-selection li:nth-child(2)::after {
  content: "";
  background: url(/zen-garden-projectg2/assets/icons8-luke-skywalker.svg) no-repeat center center;
  transform: scale(1.5);
  
  & {
    @include size-svg;
  }
}

.design-selection li:nth-child(3)::after {
  content: "";
  background: url(/zen-garden-projectg2/assets/icons8-darthvader.svg) no-repeat center center;
  transform: scale(1.5);
  
  & {
    @include size-svg;
  }
}

.design-selection li:nth-child(4)::after {
  content: "";
  background: url(/zen-garden-projectg2/assets/icons8-r2-d2.svg) no-repeat center center;
  transform: scale(1.5);
  
  & {
    @include size-svg;
  }
}

.design-selection li:nth-child(5)::after {
  content: "";
  background: url(/zen-garden-projectg2/assets/icons8-trooper.svg) no-repeat center center;
  transform: scale(.9);
  
  & {
    @include size-svg;
  }
}

.design-selection li:nth-child(6)::after {
  content: "";
  background: url(/zen-garden-projectg2/assets/icons8-yoda.svg) no-repeat center center;
  transform: scale(.8);

  & {
    @include size-svg;
  }
}

.design-selection li:nth-child(7)::after {
  content: "";
  background: url(/zen-garden-projectg2/assets/icons8-chewbacca.svg) no-repeat center center;
  transform: scale(1.5);

  & {
    @include size-svg;
  }
  
}

.design-selection li:nth-child(8)::after {
  content: "";
  background: url(/zen-garden-projectg2/assets/icons8-c-3po.svg) no-repeat center center;
  transform: scale(1.5);

  & {
    @include size-svg;
  }
}