@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Sora&display=swap");

//FONTS
$fonts-headline: "Kdam Thmor Pro", sans-serif;
$fonts-body: "Sora", sans-serif;
$line-height: 1.5rem;

//COLORS
$background-color: rgb(37, 37, 37);
$color-headlines: #ffe81f;
$color-text: #fff;
$color-text-light: rgb(37, 37, 37);
$color-a: rgb(54, 187, 248);
$background-content: #2b2a23;

//BREAKPOINTS
$medium: 600px;
$large: 1200px;
