@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
}
body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $color-text;
  margin: 1rem auto;
  padding: 2em;
  
}

h1 {
  font-size: 3rem;
  color: $color-headlines;
  margin: auto 1rem;
  font-weight: bolder;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}




